*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
.header{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(4,9,10,0.5),rgba(4,9,10,0.6)),url(image2/banner.png);
    background-position: center;
    background-size: cover ;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-menu{
    flex: 1;
    text-align: right;
}
.nav-menu ul li{
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-menu ul li a{
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}
.nav-menu ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #ff5200;
    display: block;
    margin: auto;
    transition: all 0.3s ease-in-out;
}
.nav-menu ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
    line-height: 1.5;
}
.hero-btn{
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    background-color: transparent;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.hero-btn:hover{
    background-color: #ff5200;
    border: 1px solid #ff5200;
    border-radius: 5px;
}

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.course h1{
    font-size: 36px;
    font-weight: 600;
}
.course p{
    color: #444;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background-color: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    transition: all 0.3s ease-in-out;
}
.course-col h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus h1{
    font-size: 36px;
    font-weight: 600;
}
.campus p{
    color: #444;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226,0,0,0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 26px;
    opacity: 0;
    transition: 0.5s
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.facilities > h1{
    font-size: 36px;
    font-weight: 600;
}
.facilities > p{
    color: #444;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.facilities-col img:hover{
    transform: scale(1.1);
}

.facilities-col p{
    padding: 0;
    text-align: left;
    color: #7e7878;
}
.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.text-imonials{
    width: 80%;
    text-align: center;
    padding-top: 100px;
    margin: auto;
}
.text-imonials > h1{
    font-size: 36px;
    font-weight: 600;
}
.text-imonials > p{
    color: #444;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.text-imonials-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.text-imonials-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.text-imonials-col p{
    padding: 0;
    color: #a19b9b;
}
.text-imonials-col h3{
    margin-top: 15px;
    text-align: left;
    margin-bottom: 10px;
}
.text-imonials-col i{
    color: #ff5200;
}
.cta{
    width: 80%;
    text-align: center;
    margin: 100px auto;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(image2/banner2.jpg);
    background-position: center;
    background-size: cover;
    padding: 100px 0;
    border-radius: 10px;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    font-size: 30px;
    padding: 0;
    line-height: 1.5
}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: #a19b9b;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.footer .fa-brands{
    color: #ff5200;
    padding: 18px 0;
    margin: 0 13px;
    cursor: pointer;
}
.footer .fa-heart{
    color: #ff5200;
}



